.container {
    background: url('https://png.pngtree.com/thumb_back/fh260/background/20230521/pngtree-1920s-vintage-car-wallpaper-image_2680593.jpg') no-repeat center center fixed;
    background-size: cover;
  }
  
  .card {
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.9);
  }
  
  .card-title {
    font-weight: bold;
  }
  